.Rproj.user
.Rhistory
.RData
.Ruserdata
Courses/AWS Certified Machine Learning Specialty 2020 - Sundog (Udemy)/Notes - AWS Machine Learning Specialty.docx
Courses/AWS Certified Machine Learning Specialty 2020 - Sundog (Udemy)/Notes - AWS Machine Learning Specialty.pdf
Courses/AWS Certified Machine Learning Specialty 2020 - Sundog (Udemy)/Materials/*
Courses/Natural Language Processing - National Research University Higher School of Economics (Coursera)/*